.navbar {
    width: 100%;
    background-color: white;
    height: 56px;
    display: flex;
    align-items: center;
}

.navbar-dark {
    width: 100%;
    background-color: #3b3b3b;
    color: #fff;
    height: 56px;
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-item {
    color: #fff;
}

.navbar-title {
    font-size: 22px;
    margin-left: 20px;
    font-weight: 600;
}

.navbar-item {
    font-size: 18px;
    padding-left: 2em;
    color: #3b3b3b;
}