.accordion {
    color: #3b3b3b;
    font-style: sans-serif;
    background-color: #fff;
    border: 1px solid #efefef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: .8em 1em;
    border-radius: .2em;
    width: 100%;
}

.accordion-section {
    cursor: pointer;
}

.accordion-section:not(:last-child) {
    border-bottom: 1px solid #efefef;
}

.accordion-title {
    font-weight: bold;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 3px;
    padding-right: 16px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.accordion-title:hover {
    background-color: #efefef;
}

.bg-dark .accordion-title:hover  {
    background-color: #2b2b2b;
}

.collapsed {
    cursor: pointer;
}

.accordion-icon {
    animation: reverseTilt .15s ease-in-out ;
    transform: rotate(0deg);
    cursor: pointer;

}

.accordion-content {
    padding-left: 24px;
    padding-bottom: 12px;
    padding-top: 8px;

}

.accordion-content-hidden {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    animation: collapse .15s ease-in-out;
}

.accordion-icon-rotated {
    animation: tilt .15s ease-in-out;
    transform: rotate(45deg);
    cursor: pointer;
}

@keyframes tilt {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
}

@keyframes reverseTilt {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
}